h1#usu{
    text-align: center;
    margin-left: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 40px;
}

#nomeUsu{
    width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#loginUsu{
    width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#senha{
    width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#perfilUsu{
    width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#empresaUsu{
    width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#botaoUsu{
    margin-left: 200px;
}
